

main{
 border: 2px solid blue;
}
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background: no-repeat;
    background-position: center;
    --width-sidebar: fit-content;
}
header{
    height: 80px;
}
